<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{url_for('static', filename='gputrends.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.1.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <title>GPU Trends</title>
</head>
<body>
    <main>
        <section>
            <div>
                <p>With the downturn in the cryptocurrency markets in early 2022 and the successful transistion of Ethereum from a proof-of-work to a proof-of-stake consensus mechanism, along with an easing global chip shortage and excess inventories, the GPU Apocalypse appears to be at it's end.<br>The following graphs track GPU price trends using submissions to the subreddit r/buildapcsales, a community where links to sales on PC parts are shared. </p>
            </div>
        </section>
        <section>
            <figure id="gpu-chart-container">
                <canvas id="gpu-trend-chart" style="width:100%;height:100%;"></canvas>
            </figure>
            <div>
                <details>
                    <summary>Chart Details</summary>
                    Posts flagged as GPUs on r/buildapcsales are parsed for the price and model of the GPU. To adjust for the different price levels of GPU models, the posted price is divided by the model's MSRP. Typically, new models are priced at their MSRP before gradually decreasing as the model ages and newer models are released. With the chip shortage in 2021, GPU prices rose well above their MSRP and GPU posts to r/buildapcsales became scarce. Since the start of 2022, GPU prices have fallen drastically - now well below their MSRPs on average.
                </details>
            </div>
        </section>
        <hr>
        <section>
            <figure>
                <canvas id="amd-price-chart"></canvas>
            </figure>
            <figure>
                <canvas id="nvidia-price-chart"></canvas>
            </figure>
        </section>
        <hr>
        <section>
            <div>
                <select name="model" id="model-select" onchange="updatePostsTable()"></select>
                <table id="gpu-posts-table">
                    <thead>
                        <tr>
                            <th>Posted</th>
                            <th>Co.</th>
                            <th>Model</th>
                            <th>Price</th>
                            <th>Price/MSRP</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody id="gpu-posts-table-data"></tbody>
                </table>
            </div>
        </section>
    </main>


    <script src="{{url_for('static', filename='chart.js')}}"></script>
    <script src="{{url_for('static', filename='tables.js')}}"></script>
    <script>
        async function initializePosts() {
            await updateDropdown();
            await updatePostsTable();
        }

        fetch('./gpu_trend')
            .then(response => response.json())
            .then(data => drawTrendChart(data, 'gpu-trend-chart'));

        fetch('./gpu_prices')
            .then(response => response.json())
            .then(data => {
                drawPriceChart(data, 'AMD', '#ff555f', 'amd-price-chart');
                drawPriceChart(data, 'Nvidia', '#2ccdcd', 'nvidia-price-chart');
            })

        initializePosts();
    </script>

</body>
</html>