<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{url_for('static', filename='gputrends.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.1.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <title>GPU Trends</title>
</head>
<body>
    <header>
        <div class="container">
            <h1><span>the <em>end</em> of the <br><span>GPU apocalypse</span></span></h1>
            <p>With the downturn in cryptocurrency markets in early 2022 and the transistion of Ethereum from proof-of-work to proof-of-stake effectively eliminating GPU mining, along with an easing global chip shortage and excess inventories, the GPU Apocalypse appears to be near it's end.</p>
        </div>
    </header>
    <main>
        <section id="trends">
            <div class="container">
                <h2><span>Price Trends</span></h2>
                <p>The following graphs track GPU price trends using submissions to the subreddit r/buildapcsales, a community where links to sales on PC parts are shared.</p>
                
                <figure id="trend-chart-container">
                    <canvas id="trend-chart" style="width:100%;height:100%;"></canvas>
                </figure>
            </div>
        </section>
        
        <section id="prices">
            <div class="container">
                <h2><span>Price Movement</span></h2>
                <figure>
                    <canvas id="amd-price-chart" style="width:100%;height:100%;"></canvas>
                </figure>
                <figure>
                    <canvas id="nvidia-price-chart" style="width:100%;height:100%;"></canvas>
                </figure>
            </div>
        </section>

        <section id="posts">
            <div class="container">
                <h2><span>Recent Posts</span></h2>
                <label for="model-select">GPU Model:</label>
                <div class="dropdown"><select name="model" id="model-select" onchange="updatePostsTable()"></select></div>
                <table id="gpu-posts-table">
                    <thead>
                        <tr>
                            <th>Posted</th>
                            <th>Co.</th>
                            <th>Model</th>
                            <th>Price</th>
                            <th>Price/MSRP</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody id="gpu-posts-table-data"></tbody>
                </table>
            </div>    
        </section>

    </main>
    <footer>
        <div class="container">
            <p>About these charts</p>
            <p>Posts flagged as GPUs on r/buildapcsales are parsed for the price and model of the GPU. To adjust for the different price levels of GPU models, the posted price is divided by the model's MSRP. Typically, new models are priced at their MSRP before gradually decreasing as the model ages and newer models are released. With the chip shortage in 2021, GPU prices rose well above their MSRP and GPU posts to r/buildapcsales became scarce. Since the start of 2022, GPU prices have fallen drastically - now well below their MSRPs on average.</p>
        </div>
    </footer>

    <script src="{{url_for('static', filename='chart.js')}}"></script>
    <script src="{{url_for('static', filename='tables.js')}}"></script>
    <script>
        async function initializePosts() {
            await updateDropdown();
            await updatePostsTable();
        }

        fetch('./gpu_trend')
            .then(response => response.json())
            .then(data => drawTrendChart(data, 'trend-chart'));

        fetch('./gpu_prices')
            .then(response => response.json())
            .then(data => {
                drawPriceChart(data, 'AMD', '#ff555f', 'amd-price-chart');
                drawPriceChart(data, 'Nvidia', '#2ccdcd', 'nvidia-price-chart');
            })

        initializePosts();
    </script>

</body>
</html>